<style>
  .book-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 4rem;
  }

  .book-content > section {
    margin: 1rem;
    display: flex;
    gap: 3rem;
  }

  .book-content > section > div:nth-child(2) {
    order: 0;
  }

  .book-content > section img {
    height: auto;
    width: 100%;
  }

  .book-content > section h2,
  .book-content > section p {
    margin: 0;
  }
</style>

<main class="book-content">
  <section>
    <div style="width: 400px">
      <img src="/images/new/elements-cover.jpg" />
    </div>
    <div style="flex: 0 0 500px">
      <h2>The Elements of Sculpture</h2>
      <p style="font-style: italic;">Published by Phaidon Press, 2014</p>
      <p style="margin-top: 1em">The book is meant to be an introduction to the visual language of sculpture.</p>
      <p style="margin-top: 1em">The Elements number fourteen, and range from the obvious: <i>Material, Surface, and Space</i>, to the less so: <i>Memory and Place</i>. Each Element is illustrated by a large color photo from the history of sculpture ranging from the stone age to the present. All are accompanied by a brief text. The book seeks to encourage the reader to experience the visual pleasures that the art of sculpture offers the informed viewer.</p>
    </div>
  </section>

  <section>
    <div style="width: 400px">
      <img style="height: 16rem" src="/images/new/notes-cover.jpg" />
    </div>
    <div style="flex: 0 0 500px">
      <h2>Notes on Making a Sculpture</h2>
      <p style="font-style: italic;">Self-Published, 2016</p>
      <p style="margin-top: 1em">Using the form of a diary, I’m attempting to trace the process of making a sculpture from conception to finished object.</p>
      <p style="margin-top: 1em">At the close of every workday, I photographed the stone, or stones, I was working on. Then I briefly traced my days progress and the reasons why I made the changes I did. What I was primarily interested in was how ideas evolve, and the place of improvisation in my working methods. What I’m also creating is a record of the past evolutionary process that is usually left behind.</p>
    </div>
  </section>
 </main>
